input, button, textarea, select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

/* html { */
	/*font-size: calc(100vw / 32);*/
/* } */

body {
	background-color: #f6f6f4;
}

p {
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0em;
  margin-right: 0em;
}

header {
	width:100%;
	height: 57px;
	background-color: #55c500;
	align-items: center;
}

header h1 a {
	font-size: 2.3rem;
	color: white;
	font-family: 'Baloo Bhai', cursive;
	text-decoration: none;
}

header h1 a:link,
header h1 a:visited,
header h1 a:hover,
header h1 a:active {
	color: white;
}

header>div, header+div {
	width: 80%;
	margin: auto;
}

header+div {
	padding-top: 1rem;
}

.toot {
	display: flex;
	padding: 10px;
	margin-bottom: 20px;
	width: 100%;
	/*区切り線のスタイル*/
	border-bottom: solid 1px #c0c0c0;
}

.container {
	display: flex;
}

.flex-center {
	justify-content: center;
	flex-wrap: wrap;
}

.flex-column {
	flex-direction: column;
}

#matomain {
	width: 60%;
}

.area {
	width: 44.5%;
	padding: 2vh 2vw;
	background-color: white;
}

div.area>div {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 10px;
}

div.area>div p, div.area>div p input[type="text"] {
	width: 100%
}
div.area>div input:last-child {
	margin-left: auto;
}

.area label:after {
	content: "\a";
	white-space: pre;
}

#domainid {
	margin-top: 1em;
}

#domainid p {
	flex-basis: 48%;
}

#copylink {
	margin-left: 10px;
}

input[type=button]:focus {
	outline:0;
}

.area input[type="button"] {
	font-size: 15px;
	padding: .5em;
	border-style: none;
	border-radius: .5em;
	background-color: #52b03b;
	color: #fff;
	box-shadow: none;
}

.box:last-of-type {
	padding-left: 10px;
	flex-grow: 1;
}

.box img {
	border-radius: 5px;
}

/*
バルーンのスタイル
.e-content {
	margin-top: 10px;
	border: solid 1px gray;
	border-radius: 10px;
	padding: 0px 10px 0px 10px;
}
*/

.e-content p {
	word-break: break-word;
}

img.thumbs {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}

.display-name, .toot-time {
	font-weight: bold;
	color: inherit;
	display: inline-block;
	text-decoration: none;
}

.display-name:hover, .toot-time:hover {
	text-decoration: underline currentColor;
}

.display-name span, .toot-time {
	font-weight: normal;
	color: #c0c0c0;
	font-size: smaller;
}

.display-name span:before, .toot-time:before {
	white-space: pre-wrap;
	content: "  ";
}


/* inputまわり */
/* start */
div.area>div>p {
	display: flex;
	flex-direction: column;
	position: relative;
}

input[type="text"] {
	font-size: 15px;
	flex-grow: 1;
	padding: .5em .5em .5em .5em;
	border: 1px solid #aaa;
	background-color: #fff;
	border-radius: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: #333;
}
label {
	font-size: 15px;
	padding-top: 10px;
	padding-bottom: 15px;
	color: #000;
	line-height: 1;
	position: relative;
}

label>i{
	color: darkgray;
	margin-left: 0.25rem;
}

label>i:hover{
	color: gray;
	margin-left: 0.25rem;
}
.hint {
	display: none;
	font-size: .8rem;
	position: absolute;
	width: fit-content;
	bottom: 100%;
	right: 0;
	padding: .5em 1em .4em;
	border-radius: 5px;
	color: transparent;
}

i:hover .hint {
	display: block;
	animation-name: appear;
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-out;
}

/* end */



@keyframes appear {
	from {
		background-color: transparent;
		border: 1px solid transparent;
		color: transparent;
	}
	to {
		background-color: #f6faf2;
		border: 1px solid #34830499;
		color: #348304;
	}
}
@media screen and (max-width: 899px) {
  /* width for mobile view */
  .area{width: 90vw; height: auto;}
  #matomain {
    width: 100%;
  }
  .error {
    font-size: .6rem;
  }
}

@media screen and (max-width: 669px) {
  /* width for mobile view */
  .error {
    right: -8vw ;
    font-size: 2vw;
  }
  label, .area input[type="text"], .area input[type="button"], #card-preview, .area a{
    font-size: 10px;
  }
}
