.toot {
  display: flex;
  padding: 10px;
}

.container {
  display: flex;
  width: 70vw;
}

.area {
	width: 48vw;
}

.box:last-of-type {
  padding-left: 10px;
  flex-grow: 1;
}

.box img{
  border-radius: 10px;
}

.e-content {
  margin-top: 10px;
  border: solid 1px gray;
  border-radius: 10px;
  padding: 0px 10px 0px 10px;
}

.display-name{
  font-weight: bold;
}
