html {  
    width: 100%;  
} 

.toot {
  display: flex;
  padding: 10px;
  /*区切り線のスタイル*/
  border-bottom: solid 1px #c0c0c0;
}

.container {
  display: flex;
  width: 80vw;
  margin: 0 auto;
}

.area {
  width: 95%;
}

.box:last-of-type {
  padding-left: 10px;
  flex-grow: 1;
}

.box img{
  border-radius: 5px;
}

/* 
バルーンのスタイル
.e-content {
  margin-top: 10px;	
  border: solid 1px gray;
  border-radius: 10px;
  padding: 0px 10px 0px 10px;
}
*/

.e-content p{
  word-break: break-word;
}

img.thumbs {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.display-name, .create-at {
  font-weight: bold;
  display: inline-block;
}

.display-name span, .create-at {
  font-weight: normal;
  color: #c0c0c0;
  font-size: smaller;
}

.display-name span:before, .create-at:before {
  white-space: pre-wrap;
  content: "  ";
}

.toot-time:before{
  white-space: pre-wrap;
  content: "  ";
}

.toot-time{
  font-weight: normal;
  color: #c0c0c0;
  font-size: smaller;
}

